*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.wrapper{
    display:grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(2em, auto);
}

.wrap{
    max-width: 1200px;
    border-radius:20px;
    margin:auto;
    background: rgba(0,0,0,0.8); /* bruk rgba */
    box-sizing:border-box;
    padding:40px;  
}

.box1{

    height:5em;
background: rgb(255, 167, 51);

}

.box2{
    height:60em;
    background-image: url('https://images.hdqwalls.com/wallpapers/code.jpg');
    background-repeat:inherit;
}

.box3{

    height:9em;
    text-align: center;
    background:rgb(255, 167, 51);
}




